// Fonts
$font-family:  BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu",
  "Cantarell", "Oxygen", "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial",
 !default;

$font-size: 14px !default;
$line-height: normal !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight: $font-weight-normal !default;

