.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  &__title {
    color: #757575;
    font-size: 22px;
  }
}

.legal {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #757575;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

  &__item {
    padding: 5px 10px;
    border-right: 1px solid #757575;
  }

}