.nav {
  display: flex;
  justify-content: center;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;

  &__list {
    display: flex;
  }

  &__item {
    border-left: 1px solid #333333;

    &:last-child {
      border-right: 1px solid #333333;
    }
  }

  a {
    display: inline-block;
    padding: 15px 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #7a7a7a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      visibility: hidden;
      width: 30px;
      height: 2px;
      background-color: #fff;
      box-shadow: 0 0 10px 2px rgb(230, 230, 74);
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }

    &.active {
      color: #fff;

      &::before {
        visibility: visible;
      }
    }

    &:hover {
      color: #fff;

      &::before {
        visibility: visible;
      }
    }
  }
}